export DATABASE_URL=sqlite:./data/node_data/projections.sqlite
export NODE_DATA_DATABASE_URL=sqlite:./data/node_data/node_data.sqlite
export OPERATION_DATABASE_URL=sqlite:./data/node_data/operations.sqlite
export CONFIG_PATH=./data/config.toml