# This docker compose file is used for local testing.
services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8200:8200"
      - "2022:2022/udp"
      - "2023:2023/udp"
    environment:
      - FRONTEND_PATH=/app/frontend
      - DATABASE_URL=sqlite:/app/projections.sqlite
      - CONFIG_PATH=/app/config.toml
      - APPS_PATH=/local_apps
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
