# This docker compose file is used for backend development and local testing. The production
# docker build is in the root directory of this repository.
name: lores-node-dev
services:
  lores-node:
    build:
      context: .
      dockerfile: Dockerfile-development
    networks:
      - proxy
    ports:
      - "8200:8200"
      - "2022:2022/udp"
      - "2023:2023/udp"
    environment:
      - FRONTEND_PATH=/app/frontend
      - DATABASE_URL=sqlite:/app/projections.sqlite
      - CONFIG_PATH=/app/config.toml
      - APPS_PATH=/app/apps
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./data/apps:/app/apps
  traefik:
    logging:
      options:
        max-size: "1m"
    image: traefik:3.2
    networks:
      - proxy
    volumes:
      - acme:/etc/traefik/acme
      - /var/run/docker.sock:/var/run/docker.sock
    ports:
      - "80:80"
      - "443:443"
    command:
      #- --accesslog=true
      # Possible log levels: DEBUG, INFO, WARN, ERROR (default), FATAL, PANIC
      #- --log.level=INFO
      # Use your favourite settings here, but add:
      - --providers.swarm.network=proxy
      - --providers.swarm.watch
      - --providers.swarm.exposedByDefault=false
      # By default a traefiek-enabled service can be accessed at
      # https://stackName.TOP_DOMAIN (where TOP_DOMAIN is specified at
      # the proxy stack's create time, or set to 'localhost' by default.
      - --providers.swarm.defaultRule=Host(`lores.localhost`)
      - --api
      - --entryPoints.web.address=:80
networks:
  proxy:
    driver: overlay
    attachable: true
volumes:
  acme:
