.user_section {
  padding: var(--mantine-spacing-md) 0;
}

.menu_section {
  border-top: 1px solid var(--mantine-color-dark-4);
  padding-top: 0;
  padding-bottom: var(--mantine-spacing-md);
}

.menu_section a:first-of-type {
  margin-top: var(--mantine-spacing-md);
}

.section_to_setup {
  border-top: 1px solid var(--mantine-color-dark-4);
  padding-top: 0;
  padding-bottom: 0;
}

a.navlink_to_setup span {
  font-size: var(--mantine-font-size-lg);
  color: var(--mantine-color-orange-6);
}

.footer_section {
  border-top: 1px solid var(--mantine-color-dark-4);
  padding-top: var(--mantine-spacing-md);
}

.section_header {
  padding: 5px var(--mantine-spacing-md);
  margin: 0;
  background-color: var(--mantine-color-dark-6);
}

.section_title {
  font-weight: bold;
  font-size: var(--mantine-font-size-lg);
  padding: 0;
  text-align: center;
}

p.section_title span {
  font-weight: bold;
}
