---
- name: Ensure that the main LoRes Node directory exists
  ansible.builtin.file:
    path: /etc/lores-node
    state: directory
    mode: "0755"

- name: Ensure that the app directory exists
  ansible.builtin.file:
    path: "{{ host_apps_path }}"
    state: directory
    mode: "0755"

- name: Ensure LoRes Node stack is configured
  community.docker.docker_stack:
    state: present
    name: site-manager
    compose:
      - services:
          site-manager:
            image: ghcr.io/local-resilience-tech/lores-node:latest
            ports:
              - target: 2022
                published: 2022
                protocol: udp
                mode: host
              - target: 2023
                published: 2023
                protocol: udp
                mode: host
              # - target: 80
              #   published: 80
            environment:
              DATABASE_URL: "sqlite:/data/projections.sqlite"
              OPERATION_DATABASE_URL: "sqlite:/data/operations.sqlite"
              NODE_DATA_DATABASE_URL: "sqlite:/data/node_data.sqlite"
              CONFIG_PATH: "/data/config.toml"
              APPS_PATH: "/apps"
              HOST_OS_APPS_PATH: "/etc/lores-node/apps"
            volumes:
              - data:/data
              - "{{ host_apps_path }}:/apps"
              - /var/run/docker.sock:/var/run/docker.sock
            networks:
              - lores
            deploy:
              replicas: 1
              restart_policy:
                delay: 10s
                max_attempts: 10
                window: 60s
              labels:
                traefik.enable: "true"
                traefik.http.routers.site-manager.rule: "Host(`{{ inventory_hostname }}`)"
                traefik.http.routers.site-manager.entryPoints: web
                traefik.http.routers.site-manager.service: site-manager
                traefik.http.services.site-manager.loadbalancer.server.port: 8200
                shepherd.enable: "true"
            # healthcheck:
            #   test: ["CMD", "curl", "-f", "http://localhost/"]
            #   interval: 30s
            #   timeout: 20s
            #   retries: 3

        networks:
          lores:
            external: true

        volumes:
          data:
          apps:
